body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 12pt;
    color:#575757
}

.header, .main, .footer {
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.header {
    background-color: #78a292;
}

.nav_menu {
    font-size: 16pt;
}

.nav_list {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav_ref,
.nav_ref:visited {
    padding: 0px 20px;
    line-height: 50px;
    color: #fafafa;
    text-decoration: none;
}

.nav_ref:hover {
    text-decoration: underline;
    color: #ffffff;
}

.main {
    padding: 10px 0px;
    background-color: #f6f6f6;
}

.section_name {
    display: flex;
    flex-wrap: wrap;
}

.section_name_text {
    padding: 30px 40px;
}

h1 {
    margin: 0;
    font-size: 40pt;
    font-weight: 100;
    color: #496157;
 }

 .section_name_slogan {
    margin: 7px 0px;
    font-size: 16pt;
    color: grey;
 }

.section {
    padding: 0 10px;
}

h2 {
    margin: 20px 0px 0px 0px;
    font-weight: 100;
    color: #415a4f;
}

.section_list li {
    padding: 5px;
}

.code {
    padding: 15px;
    background-color: #ffffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #496157;
    color: #fafafa;
}

.footer_link {
    padding: 10px 10px;
}

a,
a:visited {
    color: #3f8b6e;
}