body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12pt;
}

/* .header, .main, .footer {
    border: 1px solid red;
} */

.header {
    background-color: #78a292;
}

.nav_menu {
    font-size: 16pt;
}

/* .nav_menu {
    display: inline-block;
    padding: 55px 40px;
} */

.nav_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav_ref {
    padding: 0 20px;
    line-height: 50px;
    color: #fafafa;
}

.footer {
    background-color: #496157;
}

.footer_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    /* padding: 20px;
    font-size: 0.8rem; */
}